---
layout: default
---

<div class="section intro">
  <div class="container">
    <div class="intro-center">
      <div>
        <img class="intro-logo" src="img/logo.png" />
      </div>
      <div class="social-links">
        <a target="_BLANK" href="{{ site.facebook }}"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a target="_BLANK" href="{{ site.soundcloud }}"><i class="fab fa-soundcloud fa-3x"></i></a>
        <a target="_BLANK" href="{{ site.youtube }}"><i class="fab fa-youtube fa-3x"></i></a>
        <a target="_BLANK" href="{{ site.instagram }}"><i class="fab fa-instagram fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>



<div class="section gigs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="gigs-content">
        {% for gig in site.data.gigs %}
          <li class="gigs-item {% if gig.completed %}completed{% endif %}">
              {{ gig.date }}<br><strong>{{ gig.location }}</strong>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          Created 2018 by Jan Stümmel, hosted by Github Pages <i class="fab fa-github"></i> <br />
          <a href="mailto:booking@jabbadafunk.de">booking@jabbadafunk.de</a> | <a href="/datenschutz.html">Datenschutz</a>
      </div>
    </div>
  </div>
</div>
