.wrapper {
  max-width: 1000px
}

.intro {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
}

.intro-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.intro-logo-img {
  max-width: 400px;
  width: 100%;
}

.social-links {
  color: white;
  text-align: center;
}

.social-links a {
  color: white;
  padding: 10px
}
.social-links a:active { color: white }
.social-links a:hover { color: black }

.media {
  padding-top: 20px;
  padding-bottom: 40px;
}

.frame-youtube {
  vertical-align: middle;
}

.soundcloud, .youtube {
  padding-top: 20px;
}

.contact {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #C51162
}

.email {
  text-align: center;
  font-size: 40px
}

.footer-text {
  color: #a0a0a0;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
