<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>JABBADAFUNK</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="main.css" type="text/css">
  <script type="text/javascript">
    window.cookieconsent_options = {
    message: 'Diese Website nutzt Cookies, um optimale Funktionalit&auml;t gew&auml;hr- leisten zu k&ouml;nnen.',
    dismiss: 'Ich stimme zu',
    learnMore: 'Mehr Infos',
    link: '/datenschutz.html',
    theme: 'light-floating'
   };
  </script>
  <script type="text/javascript" src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script-v2.js"></script>
</head>
<body>
  <div id="root">
    {{ content }}
  </div>
</body>
</html>
